<h1><%= question_header("Edit", @question.test) %></h1>
<br>
<%=@question.inspect%><br>
<%= form_with(model: @question, url: question_path, method: "put", local: true) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "Update" %>
<% end %>
