<h1>Question <%=@question.id %></h1>

<p><%= @question.body %></p>
  <%=@question.inspect%>
<br>

<h2>Answers</h2>
<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Edit', edit_question_path %> |
<%= link_to 'Questions', test_questions_path(@question.test) %> |
<%= link_to 'Create answer', new_question_answer_path(@question) %>
