<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p style="<%=@test_passage.passed_test%>">Result: <%= @test_passage.procent %> %.</p>

<%= link_to 'Test', test_path(@test_passage.test) %> |
<%= link_to 'Tests', tests_path(@test_passage.test) %>
