<%= form_with(model: [:admin, @test], local: true) do |form| %>

  <p><%=t('.title')%> <%=form.text_field :title %></p>
  <p><%=t('.level')%> <%=form.text_field :level %></p>
  <p><%=t('.category')%> <%=form.text_field :category_id %></p>


  <p><%= form.submit %></p>

<% end %>
