<h1><%= I18n.t('tests.index.header')%></h1>

<p id="notice"><%= notice %></p>
<p><%= @user.inspect %></p>

<p><%= User.all.inspect %></p>

<p><%= session[:user_id] %></p>

<ul><% Test.all.each do |test| %>
    <li><a href="tests/<%=test.id%>/questions"><%= test.title %></a> <%= button_to "Start", start_test_path(test) %></li>

    <% end %>
</ul>
